.w960{
    width: 960px;
    margin: 0 auto;
    padding-bottom: 40px;
    font-size: 14px;
}
.w960 h1{
    font-size: 25px;
    text-align: center;
    margin: 70px 0 15px 0;
}
.w960 span{
    font-size: 16px;
    color: #FF581A;
}
.w960 p{
    margin:15px 0 20px;
    line-height: 25px;
}